# Xmake cache
.xmake/

# MacOS Cache
.DS_Store

# IDEA
.idea/

# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# Build directory
[Bb]uild/
[Bb]uild-*/

# clangd
.cache/
*.pch

# direnv
.direnv/

# Nix
result
result-*
